


/*登录 图标 微博和github*/
#app-login .weibo{
    border: 1px solid #ff763b;
  }
  
  #app-login .weibo a{
    color: #ff763b;
  }
  
  #app-login .github{
    border: 1px solid #2680d9;
  }
  
  #app-login .github a{
    color: #2680d9;
  }
  
  #app-login span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  #user .user-pic{
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 20%;
    border: 1px solid #e67e22;
  }