{% load comments %}
{% load mptt_tags %}
<html>
<head>
    <title>{{ post.title }}</title>
</head>

<body>
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category">
                    <a href="#">{{ post.category.name }}</a>
                </span>
                <span class="post-date">
                    <a href="#">
                        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                    </a>
                </span>
                <span class="post-author">
                    <a href="#">{{ post.author }}</a>
                </span>
                <span class="comments-link">
                    <a href="#">4 评论</a>
                </span>
                <span class="views-count">
                    <a href="#">588 阅读</a>
                </span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body }}
        </div>
    </article>
<!--評論條數-->

<ul>
    {% recursetree comments_list %}
        <li>
            
            內容：{{ node.content }}
            发表于：{{node.created_time|timesince}}之前
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<!-- A context variable called form is created with the necessary hidden
fields, timestamps and security hashes -->
<table>
  <form action="{% url 'comments:post_comments' post.pk %}" method="post">
    {% csrf_token %}
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>