
{% extends 'base.html' %}
{% load staticfiles %} 
{% load mptt_tags %}

{% block main %}

<div class="jumbotron">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p><a class="btn btn-primary btn-sm" href="#" role="button">{{ post.created_time }}</a></p>
        <p><a class="btn btn-primary btn-sm" href="#" role="button">{{ post.author }}</a></p>
        <p><a class="btn btn-primary btn-sm" href="#" role="button">{{ post.category.name }}</a></p>
</div>

<table>

        <form class="form-horizontal" action="{% url 'comments:post_comments' post.pk %}" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                 <label for="id_content" class="col-sm-2 control-label">内容:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="content" cols="40" rows="10" placeholder="请开始你的表演！" required id="id_content"></textarea>
                    <input type="hidden" name="parent" value="" />
                    <input type="hidden" name="user" value="2" />
                    <input type="hidden" name="post" value="{{ post.pk }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">验证:</label>
               <div class="col-sm-10">                   
                <div class="QapTcha" id="code">

                </div>
               </div>
            </div>

            <!--
        <form action="{% url 'comments:post_comments' post.pk %}" method="post">
          {% csrf_token %}
          {{ form }}
          <tr>
            <td colspan="2">
              <input type="submit" name="submit" value="Post">
              <input type="submit" name="preview" value="Preview">
            </td>
          </tr>
        </form>
            <div class="form-group">
                 <label for="inputPassword3" class="col-sm-2 control-label">验证:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" />
                </div>
            </div>
            -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                     <input type="submit" name="submit" class="btn btn-default" value="发表"/>
                     
                </div>
            </div>
        </form>
</table>


<ul class="media-list">
        {% recursetree comments_list %}
        <li class="media">
            <a class="media-left" href="#">
                <img class="media-object" src="{% static 'blog/images/author.svg' %}"
                     alt="通用的占位符图像">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                        {{node.user}}
                </h4>
                <p>
                    {{node.content|safe}}
                </p>              
                {% if not node.is_leaf_node %}
                <!-- 嵌套的媒体对象 -->
                <ul class="media-list">
                    
                    {{ children }}
                    
                </ul>
                {% endif %}
            </div>
        </li>
        {% endrecursetree %}
 </ul>

{% endblock main%}



{% block aside %}
<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Panel title
            </h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">
            Panel footer
        </div>
    </div>

{% endblock aside %}